.gallery > .gallery__list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.gallery > .gallery__list > li:nth-child(4n){
    grid-column: span 2;
    grid-row: span 2;
}
.gallery > .gallery__list > li:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }